[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/meryagnik
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/meryagnik
	label-Verified = -1..+1 group user/meryagnik
	push = group user/meryagnik
	read = group user/meryagnik
	rebase = group user/meryagnik
	removeReviewer = group user/meryagnik
	submit = group user/meryagnik
[access "refs/heads/*"]
	create = group user/meryagnik
	push = +force group user/meryagnik
	pushMerge = group user/meryagnik
	read = group user/meryagnik
[access "refs/tags/*"]
	push = group user/meryagnik
	push = +force group user/meryagnik
